<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">  
<title>Student new form page</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
	<link rel="stylesheet" href=
"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

 	<style>
	 
#togglePassword{
	text-align:right;
}
</style>

<style>
       
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    
  <h4 style="color: white;">Student Management System</h4>
  <div>
    <ul>
      <li>
       <h4> <a class="nav-link" th:href="@{/students}">List of Student </a></h4>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
 


	<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center" style="color:blue"> Register Form </h1>
				<hr style=" border: 1px solid black;">
				<div class = "card-body">
					<form th:action="@{/students}" th:object = "${student}" method="POST" >
						
						<div class ="form-group">
						<b>	<label>First Name: </label></b>
							<input
							type = "text"
							name = "firstName"
							th:field = "*{firstName}"
							class = "form-control"
							placeholder="Enter Student First Name" 
							pattern="^[A-Za-zÀ-ÿ ,.'-]+$"
							title="Must contain only Alphabet"
							required
							/>
						</div>
						
											
						<div class ="form-group">
							<b><label> Student Email: </label></b>
							<input
							type = "text"
							name = "email"
							th:field = "*{email}"
							class = "form-control"
							placeholder="Enter Student Email" 
							pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
							title="please type valid email"
							required
							/>
						</div>
						
						<div class ="form-group">
							<b><label>Student password: </label></b>
							<input
							type = "password"
							name = "password"
							th:field = "*{password}"
							class = "form-control"
							placeholder="Enter Student password" 
							pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
							title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
							id="password" 
							 required
							/>
               				 <i class="bi bi-eye-slash" id="togglePassword" ></i>
							 
						</div>
						
						<div class ="form-group">
							<b><label>Student Phoneno: </label></b>
							<input
							type = "text"
							name = "phoneno"
							th:field = "*{phoneno}"
							class = "form-control"
							placeholder="Enter Student phoneno" 
							 pattern="^\d{3}-\d{3}-\d{4}$"
							required
							/>
						</div>
						<div class = "box-footer" style="text-align: center;">
							<button type="submit" class = "btn btn-primary">
								Submit
							</button>
							<button type="reset"  class="btn btn-success">
							Reset
							</button>   
						</div>
					</form>
				
				</div>
			</div>
		</div>
	</div>
	 
	<script>
        const togglePassword = document
            .querySelector('#togglePassword');
  
        const password = document.querySelector('#password');
  
        togglePassword.addEventListener('click', () => {
  
            // Toggle the type attribute using
            // getAttribure() method
            const type = password
                .getAttribute('type') === 'password' ?
                'text' : 'password';
                  
            password.setAttribute('type', type);
  
            // Toggle the eye and bi-eye icon
            this.classList.toggle('bi-eye');
        });
    </script>
</body>
</html>